<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/d517d5ff3f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:ital,wght@1,100&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
    <title>Editar servicio</title>
</head>
<body>
    <header class="header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="formulario-con-titulo">
            <div class="titulo">
                <h2 class="products-title"> Estas editando: <i><%= serviceToEdit.name %></i></h2>
            </div>
            <div class="formulario">
                <form class="form" action="/service/edit/<%= serviceToEdit.id %> ?_method=PUT" method="POST"></form>       
                    <!-- Nombre del servicio -->
                    <div class="control-form">
                        <input type="text" name="name" placeholder="Nombre del servicio" class="control" value="<%=serviceToEdit.name%>" >
                        <label>Nombre del servicio</label>
                    </div>    
                    <!-- Descripcion -->
                    <div class="control-form">
                        <textarea name="description" id="description" class="form-input"> <%= serviceToEdit.description %> </textarea>
                        <label>Descripción</label>
                    </div>
                    <!-- Imagen -->
                    <div class="control-form">
                        <input type="file" name="image" accept=".jpg">
                        <label>Imagen</label>
                    </div> 
                    <!-- Categoria -->
                    <div class="control-form">
                        <label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited">Últimos agregados</option>
						</select>
                    </div>
                    <!-- Profesion -->
                    <div class="control-form">
                        <input type="text" name="profesion" placeholder="Profesion" class="control" value="<%=serviceToEdit.profesion%>">
                        <label>Profesion</label>
                    </div>
                    <!-- Precio -->
                    <div class="control-form">
                        <input type="tel" name="price" placeholder="Precio" class="control" value="<%=serviceToEdit.price%>">
                        <label>Precio</label>
                    </div>
                    <!-- Boton editar servicio -->
                    <div>
                        <button class="button" type="submit" class="button-style">Editar</button>
                    </div>
            </div>
            
        </div>
    </main>


    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>