<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/services.css">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/d517d5ff3f.js" crossorigin="anonymous"></script>
    <title>ServiceDetail</title>
</head>
<body>
    <!-- Header section -->
    <header class="header">

        <%- include('./partials/header') %>

    </header>

    <main>
        <!-- Services Carts secction -->
        <section class="allServices" id="allServices">
            <div class="box-container">
                <!-- Each Card Service usando vista dinamica -->
                    <div class="box">
                        <div class="icons">
                            <div> <i class="fa-solid fa-cart-shopping" id="cart-btn"></i> </div>
                        </div>
                        <h3><%= singleService.name %></h3>
                        <p><%= singleService.description %></p>
                        <img src="images/<%= singleService.image %>" class="profilePhoto" alt=""> 
                        <div class="price"><%= singleService.price %> /h</div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>